@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px); /* Reduced height */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .about-page .mission-vision-card {
    animation: float 6s ease-in-out infinite;
  }
  
  .about-page .mission-vision-card:nth-child(2) {
    animation-delay: 3s;
  }
  